script(type='text/javascript').
  ws_channels =
  {
    layoutchange: function() { pagereload() },
    'dashboard-element': function(json) { 
      processElementEvent(json.segmentid, json.panel, json.event, json.eventdata)
    },
    'network-change': function(json) { 
      ToastSuccessHide.fire({ html: `${json.title}<br/><small>${json.message}</small>` })
    },
  }

  function ws_onreceive(data) {
    console.log(data);
  }
