script(type='text/javascript').
  ws_channels =
  {
    layoutchange: function() { pagereload() },
    dashboard: function(json) { 
      //console.log(json)
      processEvent(json.segmentid, json.panel, json.event, json.eventdata)
    }
  }

  function ws_onreceive(data) {
    console.log(data);
  }
