extends _base

block content
  | a
  | b
  |
  br
  i.pull-right.ws-indicator.bi-lightning-fill
  | a
  | b
  | c
  br
  br
  br
  img(src="/layout/box")
  br
  br
  br
  img(src="/layout/circle")

  img(src="/layout/track/0/0?t=1112" style="position:absolute;left:100px;right:100px")
  img(src="/layout/track/0/0?t=1112" style="position:absolute;left:132px;right:100px")
  img(src="/layout/track/0/0?t=1112" style="position:absolute;left:164px;right:100px")
  img(src="/layout/track/0/0?t=1112" style="position:absolute;left:196px;right:100px")
  img(src="/layout/track/0/0?t=1112" style="position:absolute;left:228px;right:100px")

  script(type='text/javascript').
    ws_channels =
    {
      b: function(data) {
        console.log(data);
      }
    }

    function ws_onreceive(data) {
      console.log(data);
    }
