dl.row
  dt.col-sm-5
    i.bi.bi-mouse
    | 
    kbd
      | left
  dd.col-sm-7
    | Select element
    br
    | Drag element
    br
    | Resize element
    br
    | Place new element

  dt.col-sm-5
    i.bi.bi-mouse
    |
    kbd
      | right
  dd.col-sm-7
    | Element menu

  dt.col-sm-5
    | Ctrl +
    i.bi.bi-mouse
    | 
    kbd
      | left
  dd.col-sm-7
    | Select multiple element

  dt.col-sm-5
    kbd
      | Arrows
  dd.col-sm-7
    | Move selected element(s)

  dt.col-sm-5
    kbd
      | R / Shift + R
  dd.col-sm-7
    | Rotate selected element(s)

  dt.col-sm-5
    kbd
      | Del
  dd.col-sm-7
    | Delete selected element(s)

  dt.col-sm-5
    kbd
      | Esc
  dd.col-sm-7
    | Clear selection

  dt.col-sm-5
    kbd
      | SHIFT + 1..9
  dd.col-sm-7
    | Drawing favorite elements

  hr
  dt.col-sm-5
    | Drawing mode
  dd.col-sm-7

  dt.col-sm-5
    kbd
      | Space
  dd.col-sm-7
    | Place new element

  dt.col-sm-5
    kbd
      | Backspace
  dd.col-sm-7
    | Remove last placed element

  dt.col-sm-5
    i.bi.bi-mouse
    |
    kbd
      | right
  dd.col-sm-7
    | Exit drawing mode

  dt.col-sm-5
    kbd
      | Esc
  dd.col-sm-7
    | Exit drawing mode

  hr

  dt.col-sm-5
    kbd
      | SHIFT + S
  dd.col-sm-7
    | Save segment immediately

  dt.col-sm-5
    kbd
      | SHIFT + H
  dd.col-sm-7
    | Show/hide this help
